@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --color-light: #ffffff;
  --color-dark: #2c3e50;
  --color-primary: #2ecc71;
  --color-secondary: #3498db;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a {
  text-decoration: none;
  color: var(--color-secondary);
}

p {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: var(--color-primary);
  color: var(--color-dark);
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-secondary {
  font: inherit;
  font-size: 13px;
  background: var(--color-dark);
  color: var(--color-light) !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 20px;
  cursor: pointer;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}
